<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= common.description %>">
    <meta name="author" content="Navid Nazifi">
    <title><%= common.projectName %> - <%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Fixed navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="favorites.html">Favorite Dogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="contact.html">Contact</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <main class="container p-5">
        <div class="bg-light pt-5 rounded">
            <h1>
                <%= htmlWebpackPlugin.options.title %>
            </h1>
            <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll,
                it will remain fixed to the top of your browser’s viewport.</p>

            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Breeds
                </button>
                <ul id="dropdownDogBreed" class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow">
                </ul>
            </div>
            <div id="subBreeds" class="dropdown mt-1 d-none">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown button
                </button>
                <ul id="dropdownSubBreed" class="dropdown-menu dropdown-menu-dark dropdown-menu-macos mx-0 border-0 shadow">
                </ul>
            </div>
            
            <!-- Gallery -->
            <div id="gallery" class="row mt-4">
                
            </div>
            <!-- Gallery -->

        </div>
    </main>
</body>

</html>