.gallary-img {
    width:100%; 
    height: 250px;
} 

.img {
    position: relative;
 }
  
.img i {
    top: 8%;
    right: 2%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #fffcfc;
    font-size: 1.5em;
    cursor: pointer; 
}